{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/toolkits/protein/preamble" role="button">{{ i18n "get-started" }}</a>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/about/overview" role="button">{{ i18n "learn-more" }}</a>
      <!--
      <p class="meta">Open-source MIT Licensed. <a href="https://github.com/h-enk/doks">GitHub v{{ $data := getJSON "/package.json" }}{{ $data.version }}</a></p>
      -->
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">Publications</h2>
          <p>Grow trust and expand readership with transparent editorial standards.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Companies</h2>
          <p>Adopt modern infrastructure for PR excellence and reduced risk.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Organizations</h2>
          <p>Optimize for the impact you promise and avoid common positioning pitfalls.</p>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">Governments</h2>
          <p>Formalize communications standards for fairness and accountability.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Influencers</h2>
          <p>Be a better steward of your influence and the world you help create.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Everyone</h2>
          <p>Champion a web that works for all.</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
